* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    padding: 5%;
}

.card {
    padding: 5rem 2rem;
    background-color: lavender;
    border-radius: 1rem;
    max-width: 40%;
    display: inline-block;
    margin: 1rem;
}

header,
footer {
    padding: 5%;
    background-color: lightblue;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}